{% extends "layout.html.twig" %}

{% block content_body %}
    <h1>I am a list page</h1>
    {% for blog in pagination %}
        <div>
            {{ dump(blog) }}
            <a href="{{ path('blog_detail', {'id': blog.id}) }}">view blog</a>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
